// stylelint-disable selector-class-pattern, selector-nested-pattern
//
// メインコンテンツ（content-mainコンポーネント）の内容はCMSなどで管理されるHTMLを含んだり、
// ページ独自のスタイルを扱うことが多いので例外的に専用のルールを設ける。
//
// メインコンテンツのエレメントは基本的に自由である。
// ただし、クラス名は`c-`で開始してはいけない。もちろん 【`c-` + `コンポーネント名` + `__` + `エレメント名`】 という規則でクラス名をつけない。
// さらにそのルールに従って、メインコンテンツの中にコンポーネントを内包してはいけない。
//
//
.c-content-main {
	// 全ブロック基本の余白
	$wp-default-margin-bottom: 3em;
	// 背景色・枠線がある場合のパディング
	$wp-opt-padding: 0.8em;

	//
	// 基本スタイル
	//
	font-size: 1.6rem;
	line-height: 2;

	@media (--xs) {
		font-size: calc(16 / 320 * 100vw); // 幅320pxのデバイスで16pt
	}

	//
	// エレメント
	//
	// ☝ 以降のフォントサイズの指定単位は em を推奨
	//
	a {
		color: currentColor;
	}

	h2 {
		font-size: calc(24 / 16 * 1em);
		line-height: 2;
		margin: 1em 0 25px;
		padding: 5px 25px;
		background: url('../img/bg-repeat-01.gif');
		color: $font-primary-color;
		border-bottom: 4px solid $primary-color;

		&:first-child {
			margin-top: 0;
		}
	}

	// wpで使う場合
	// .bge-title-h2 {
	// 	margin-top: 0;
	// }

	h3 {
		font-size: calc(22 / 16 * 1em);
		line-height: 2;
		margin: 1em 0 20px;
		padding-left: 20px;
		border-left: 5px solid $primary-color;

		&:first-child {
			margin-top: 0;
		}
	}

	// wpで使う場合
	// .bge-title-h3 {
	// 	margin-top: 0;
	// }

	h4 {
		font-size: calc(19 / 16 * 1em);
		line-height: 2;
		margin: 1em 0 20px;
		background: $secondary-color-lighter5;
		padding: 5px 25px;

		&:first-child {
			margin-top: 0;
		}
	}

	h5 {
		font-size: calc(18 / 16 * 1em);
		color: $accent-color;
		line-height: 2;
		margin: 1em 0;

		&:first-child {
			margin-top: 0;
		}
	}

	h6 {
		font-size: calc(18 / 16 * 1em);
		line-height: 2;
		margin: 1em 0;

		&:first-child {
			margin-top: 0;
		}
	}

	ul {
		padding-left: 20px;

		> li {
			list-style: none;

			&::before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				margin: 0 15px 0 -20px;
				width: 8px;
				height: 8px;
				border: 1px solid transparent;
				border-radius: 50%;
				background: $primary-color;
			}

			> ul li::before {
				background: $primary-color-lighter;

				> ul li::before {
					background: $secondary-color-lighter2;
				}
			}
		}

		ul,
		ol {
			// Lv.2以降
			margin-left: $indent-sub-list;
		}
	}

	ol {
		counter-reset: content-main-ol-default;
		padding-left: 0;

		> li {
			list-style: none;

			&::before {
				content: counter(content-main-ol-default, decimal) '. ';
				counter-increment: content-main-ol-default;
				color: $primary-color-darker;
				font-weight: bold;
			}
		}

		ul,
		ol {
			// Lv.2以降
			margin-left: $indent-sub-list;
		}
	}

	table {
		border-collapse: collapse;
		width: 100%;
		margin-bottom: 30px;

		@media (--xs) {
			display: block;
		}
	}

	caption {
		font-weight: bold;
		text-align: left;

		@media (--xs) {
			display: block;
		}
	}

	thead {
		@media (--xs) {
			display: none;
		}
	}

	tfoot {
		@media (--xs) {
			display: none;
		}
	}

	tbody {
		@media (--xs) {
			display: block;
		}
	}

	tr {
		@media (--xs) {
			display: block;
		}
	}

	th,
	td {
		padding: 1.3em 1.7em;
		color: $font-primary-color;
		border-top: 1px solid $border-primary-color;
		border-bottom: 1px solid $border-primary-color;

		@media (--xs) {
			display: block;
			margin-top: -1px;
			width: 100% !important; // stylelint-disable-line declaration-no-important
		}
	}

	th {
		background: $gray-color02;
		text-align: left;

		@media (--xs) {
			padding: 10px 4% 10px 6%;
		}
	}

	td {
		@media (--xs) {
			padding: 10px 4% 20px 6%;
		}
	}

	p {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	blockquote {
		background: $gray-color;
		margin: 0 0 0 $indent-sub-list;
		padding: 1em 2em;
		position: relative;

		&::before {
			content: '“';
			display: block;
			font-size: calc(40 / 16 * 1em);
			left: 0;
			line-height: 0;
			margin-top: 0.5em;
			opacity: 0.2;
			pointer-events: none;
			position: absolute;
			top: 0;
			user-select: none;
		}

		&::after {
			bottom: 0;
			content: '”';
			display: block;
			font-size: calc(40 / 16 * 1em);
			line-height: 0;
			opacity: 0.2;
			pointer-events: none;
			position: absolute;
			right: 0;
			user-select: none;
		}
	}

	figure {
		margin: 0;
	}

	figcaption {
		background: none;
		font-size: calc(14 / 16 * 1em);
		font-weight: normal;
		line-height: 1.6;
		padding: 0.8em 1.2em;
		text-align: left;
	}

	hr {
		color: $border-primary-color;
		background: $border-primary-color;
		border-style: none;
		height: 2px;
		margin: 50px auto;
		width: calc(95 / 100 * 100%);

		&:first-child {
			margin-top: 0;
		}
	}

	/**
	 * メールフォーム
	 *
	 */
	.cc-form-description {
		//
	}

	.cc-form {
		// 仮
		max-width: 680px;
		margin: 0 auto;
	}

	.cc-form-field-list {
		//
	}

	.cc-form-fieldset {
		display: block;
		background: $gray-color;
		padding: 1em 2em;

		fieldset {
			border: none;
			margin: 0;
			padding: 0;
		}

		legend {
			margin: 0;
			padding: 0;
		}

		&-heading {
			font-weight: bold;
			display: flex;
			align-items: center;
			font-size: calc(18 / 16 * 1em);

			label {
				display: block;
				cursor: pointer;
			}

			.required,
			.optional {
				display: block;
				color: $lightest-color;
				font-size: calc(12 / 18 * 1em);
				line-height: 1;
				padding: 0.4em 0.5em;
				border-radius: 0.2em;
				margin: 0 0 0 0.5em;
			}

			.required {
				background: $warning-color;
			}

			.optional {
				background: $darkest-color;
			}
		}

		&-attention {
			font-weight: normal;
			font-size: calc(12 / 18 * 1em);
			margin: 0.5em 0;
		}

		&-body {
			//
		}
	}

	.mail-field {
		margin: 0 0 0 1em;
		padding: 0 0 1em;

		&:last-child {
			border-bottom: 1px solid $border-primary-color;
		}

		&[data-type='text'],
		&[data-type='select'] {
			display: grid;
			grid-template-columns: auto 1fr auto;
			grid-template-rows: auto auto auto;
			grid-template-areas:
				'before-attachment input after-attachment'
				'description description description'
				'error-message error-message error-message';
			grid-gap: 0;
			justify-content: flex-start;
			align-items: center;

			.mail-before-attachment {
				grid-area: before-attachment;
				margin: 0 1em 0 0;

				&:empty {
					margin: 0;
				}
			}

			.mail-input {
				grid-area: input;
			}

			.mail-after-attachment {
				grid-area: after-attachment;
				margin: 0 0 0 1em;

				&:empty {
					margin: 0;
				}
			}

			.mail-description {
				grid-area: description;
				font-size: calc(12 / 16 * 1em);
			}

			.error-message {
				grid-area: error-message;
				font-size: calc(12 / 16 * 1em);
				color: $warning-color;
			}
		}

		.mail-before-attachment {
			font-weight: bold;
		}

		.mail-input {
			grid-area: input;
			display: block;

			input:not([type='radio']):not([type='checkbox']),
			textarea {
				font-size: 1.6rem;
				font-family: inherit;
				max-width: 100%;
				background: $lightest-color;
				border: 1px solid $border-primary-color;
				border-radius: 0.2em;
				padding: 0.5em;

				&:focus {
					border-color: $btn-glow-color;
					box-shadow: 0 0 5px 1px $btn-glow-color, 0 0 5px 0 $lightest-color;
					outline: none;
				}
			}

			input:not([type='radio']):not([type='checkbox']) {
				&:not([size]) {
					width: 100%;
				}
			}

			textarea {
				&:not([cols]) {
					width: 100%;
				}
			}

			select {
				padding: 0.5em calc(0.5em + 24px + 2px) 0.5em 0.5em;
				appearance: none;
				background: $lightest-color;
				background-image: url("<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='" + $border-primary-color + "'/></g></svg>") !important; // stylelint-disable-line declaration-no-important
				background-repeat: no-repeat;
				background-position: right calc(0.2em + 2px) top calc(50% + 2px);
				border: 1px solid $border-primary-color;
				border-radius: 0.2em;

				&:focus {
					border-color: $btn-glow-color;
					box-shadow: 0 0 5px 1px $btn-glow-color, 0 0 5px 0 $lightest-color;
					outline: none;
				}
			}
		}

		.checkbox {
			display: flex;
			justify-content: start;
			align-items: center;

			input {
				display: block;
				line-height: 1;
				margin: 0;
				padding: 0;
			}

			label {
				cursor: pointer;
			}
		}

		.mail-group-radio {
			> span {
				display: flex;
				justify-content: start;
				align-items: center;

				input {
					display: block;
					line-height: 1;
					margin: 0 0.5em 0 0;
					padding: 0;
				}

				label {
					cursor: pointer;
				}
			}
		}
	}

	//
	// 💊 ヘルパークラス
	//
	// 👇 以下 👇
	//
	// 🚫 削除非推奨 🚫
	//
	// %grid-frame {
	// 	align-content: flex-start;
	// 	align-items: flex-start;
	// 	display: flex;
	// 	flex-flow: row wrap;
	// 	justify-content: flex-start;
	// }

	// .grid-frame {
	// 	@extend %grid-frame;
	// }

	// .grid-frame-flex {
	// 	@extend %grid-frame;
	// 	flex-wrap: nowrap;
	// }

	// @for $i from 1 through 12 {
	// 	.grid-xs-#{$i} {
	// 		@media (--xs) {
	// 			flex-grow: 0;
	// 			flex-shrink: 0;
	// 			flex-basis: calc(#{$i} / 12 * 100%);
	// 		}
	// 	}

	// 	.grid-sm-#{$i} {
	// 		@media (--sm) {
	// 			flex-grow: 0;
	// 			flex-shrink: 0;
	// 			flex-basis: calc(#{$i} / 12 * 100%);
	// 		}
	// 	}

	// 	.grid-md-#{$i} {
	// 		@media (--md) {
	// 			flex-grow: 0;
	// 			flex-shrink: 0;
	// 			flex-basis: calc(#{$i} / 12 * 100%);
	// 		}
	// 	}

	// 	.grid-lg-#{$i} {
	// 		@media (--lg) {
	// 			flex-grow: 0;
	// 			flex-shrink: 0;
	// 			flex-basis: calc(#{$i} / 12 * 100%);
	// 		}
	// 	}

	// 	.grid-xl-#{$i} {
	// 		@media (--xl) {
	// 			flex-grow: 0;
	// 			flex-shrink: 0;
	// 			flex-basis: calc(#{$i} / 12 * 100%);
	// 		}
	// 	}
	// }

	// .grid-xs-d5 {
	// 	@media (--xs) {
	// 		flex-grow: 0;
	// 		flex-shrink: 0;
	// 		flex-basis: calc(1 / 5 * 100%);
	// 	}
	// }

	// .grid-sm-d5 {
	// 	@media (--sm) {
	// 		flex-grow: 0;
	// 		flex-shrink: 0;
	// 		flex-basis: calc(1 / 5 * 100%);
	// 	}
	// }

	// .grid-md-d5 {
	// 	@media (--md) {
	// 		flex-grow: 0;
	// 		flex-shrink: 0;
	// 		flex-basis: calc(1 / 5 * 100%);
	// 	}
	// }

	// .grid-lg-d5 {
	// 	@media (--lg) {
	// 		flex-grow: 0;
	// 		flex-shrink: 0;
	// 		flex-basis: calc(1 / 5 * 100%);
	// 	}
	// }

	// .grid-xl-d5 {
	// 	@media (--xl) {
	// 		flex-grow: 0;
	// 		flex-shrink: 0;
	// 		flex-basis: calc(1 / 5 * 100%);
	// 	}
	// }

	// .grid-xs-flex {
	// 	@media (--xs) {
	// 		flex: 0 1 100%;
	// 	}
	// }

	// .grid-sm-flex {
	// 	@media (--sm) {
	// 		flex: 0 1 100%;
	// 	}
	// }

	// .grid-md-flex {
	// 	@media (--md) {
	// 		flex: 0 1 100%;
	// 	}
	// }

	// .grid-lg-flex {
	// 	@media (--lg) {
	// 		flex: 0 1 100%;
	// 	}
	// }

	// .grid-xl-flex {
	// 	@media (--xl) {
	// 		flex: 0 1 100%;
	// 	}
	// }

	// マージンヘルパー
	.mt-zero {
		margin-top: 0;
	}

	.mb-zero {
		margin-bottom: 0;
	}

	.mt-narrow {
		// stylelint-disable at-rule-empty-line-before
		// @media (--xs) {
		// 	margin-top: $margin-narrow-xs;
		// }

		// @media (--sm) {
		// 	margin-top: $margin-narrow-sm;
		// }

		// @media (--md) {
		// 	margin-top: $margin-narrow-md;
		// }

		// @media (--lg) {
		// 	margin-top: $margin-narrow-lg;
		// }

		// @media (--xl) {
		// 	margin-top: $margin-narrow-xl;
		// }
		// stylelint-enable at-rule-empty-line-before
	}

	.mt-wide {
		// stylelint-disable at-rule-empty-line-before
		// @media (--xs) {
		// 	margin-top: $margin-wide-xs;
		// }

		// @media (--sm) {
		// 	margin-top: $margin-wide-sm;
		// }

		// @media (--md) {
		// 	margin-top: $margin-wide-md;
		// }

		// @media (--lg) {
		// 	margin-top: $margin-wide-lg;
		// }

		// @media (--xl) {
		// 	margin-top: $margin-wide-xl;
		// }
		// stylelint-enable at-rule-empty-line-before
	}

	.mb-narrow {
		// stylelint-disable at-rule-empty-line-before
		// @media (--xs) {
		// 	margin-bottom: $margin-narrow-xs;
		// }

		// @media (--sm) {
		// 	margin-bottom: $margin-narrow-sm;
		// }

		// @media (--md) {
		// 	margin-bottom: $margin-narrow-md;
		// }

		// @media (--lg) {
		// 	margin-bottom: $margin-narrow-lg;
		// }

		// @media (--xl) {
		// 	margin-bottom: $margin-narrow-xl;
		// }
		// stylelint-enable at-rule-empty-line-before
	}

	.mb-wide {
		// stylelint-disable at-rule-empty-line-before
		// @media (--xs) {
		// 	margin-bottom: $margin-wide-xs;
		// }

		// @media (--sm) {
		// 	margin-bottom: $margin-wide-sm;
		// }

		// @media (--md) {
		// 	margin-bottom: $margin-wide-md;
		// }

		// @media (--lg) {
		// 	margin-bottom: $margin-wide-lg;
		// }

		// @media (--xl) {
		// 	margin-bottom: $margin-wide-xl;
		// }
		// stylelint-enable at-rule-empty-line-before
	}
	//
	// 💊 ヘルパークラス
	//
	// 👆 以上 👆
	//

	//
	// wp用
	//
	// 👇 以下 👇
	//
	// 必要ない場合は削除する 🔪
	//
	// [data-wp] {
	// 	margin-bottom: $wp-default-margin-bottom;
	// }

	// // ボタンタイプ
	// .wp-btn {
	// 	appearance: none;
	// 	background: $primary-color;
	// 	border: none;
	// 	color: $lightest-color;
	// 	display: inline-block;
	// 	font-size: calc(17 / 16 * 1em);
	// 	line-height: 2;
	// 	min-width: 15em;
	// 	padding: 1em 2em;
	// 	position: relative;
	// 	text-align: center;
	// 	text-decoration: none;
	// 	vertical-align: middle;

	// 	&:active,
	// 	&:focus {
	// 		box-shadow: 0 0 10px 0 $btn-glow-color, 0 0 10px 0 $lightest-color;
	// 	}

	// 	&:disabled {
	// 		opacity: 0.6;
	// 	}

	// 	&::after {
	// 		border: 2px solid currentColor;
	// 		border-width: 2px 2px 0 0;
	// 		content: '';
	// 		display: block;
	// 		height: 10px;
	// 		margin-top: -5px;
	// 		position: absolute;
	// 		right: 0.7em;
	// 		top: 50%;
	// 		transform: rotate(45deg);
	// 		width: 10px;
	// 	}
	// }

	// [data-wp-button-kind='link'] .wp-btn {
	// 	//
	// }

	// [data-wp-button-kind='em'] .wp-btn {
	// 	background: $primary-color-darker;
	// }

	// [data-wp-button-kind='external'] .wp-btn {
	// 	span {
	// 		&::after {
	// 			@include bge-icon;
	// 			content: $fa-external-link;
	// 			font-size: 1em;
	// 			margin-left: 0.5em;
	// 			vertical-align: middle;
	// 		}
	// 	}
	// }

	// [data-wp-button-kind='back'] .wp-btn {
	// 	&::before {
	// 		background: none;
	// 		border: 2px solid currentColor;
	// 		border-width: 0 0 2px 2px;
	// 		content: '';
	// 		display: block;
	// 		height: 10px;
	// 		left: 0.7em;
	// 		margin-top: -5px;
	// 		position: absolute;
	// 		top: 50%;
	// 		transform: rotate(45deg);
	// 		width: 10px;
	// 	}

	// 	&::after {
	// 		display: none;
	// 	}
	// }
	//
	// 👆 以上 👆
	//
	// wp用
	//

}
// stylelint-enable selector-class-pattern, selector-nested-pattern
