.c-header {
	font-size: 1.6rem;
	border-bottom: 1px solid $border-primary-color;
	padding: 20px 0 30px;

	&__body {
		@include flexible-width-body;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
	}

	&__title {
		flex: 0 1 auto;
	}

	&__site-name {
		margin: 0;

		> a {
			color: $primary-color;
			display: block;
			text-decoration: none;
		}
	}

	&__description {
		margin: 0;
	}

	&__info {
		display: flex;
		flex: 0 1 auto;
		flex-direction: column;
	}

	&__links {
		display: flex;
		flex: 0 1 auto;
		margin: 0;
		padding: 0;

		> li {
			display: block;
			flex: 0 1 auto;

			> a {
				display: block;
				text-decoration: none;
				padding: 10px 20px;
				color: $secondary-color-darker;
				font-size: calc(14 / 16 * 1em);

				&:hover {
					color: $secondary-color-lighter2;
				}
			}
		}
	}

	&__tel {
		flex: 0 1 auto;
		text-align: right;

		> a {
			color: $darkest-color;
			text-decoration: none;
			text-align: center;
			width: 100%;
			padding: 8px 20px;
			border: 1px solid $darkest-color;
			border-radius: 5px;
		}
	}
}

// stylelint-disable

// stylelint-enable
