.c-nav-sitemap {
	background-color: $secondary-color-darker;
	padding: 30px 0;

	@media (--xs-lte) {
		padding: 0;
	}

	%list {
		margin: 0;
	}

	%item {
		display: block;
		margin: 0;
		padding: 0;
	}

	a {
		color: $lightest-color;
		display: block;
		text-decoration: none;
		padding-left: 30px;

		@media (--xs-lte) {
			padding: 20px $page-viewport-side-margin-xs;
		}

		&:hover {
			opacity: 0.7;
		}

		&::before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			margin: 0 15px 0 -20px;
			width: 8px;
			height: 8px;
			border: 1px solid transparent;
			border-radius: 50%;
			background: $primary-color;

			@media (--xs-lte) {
				display: none;
				margin: 0;
			}
		}
	}

	&__body {
		background-color: $secondary-color-darker;
		margin: 0 auto;
		overflow: hidden;
		max-width: 1200px;

		@media (--md-lte) {
			max-width: 100%;
		}
	}

	ul[data-sitemap-level='1'] {
		@extend %list;
		column-count: 4;
		padding: 0;

		@media (--xs) {
			column-count: 1;
		}

		@media (--sm) {
			column-count: 2;
		}

		@media (--md) {
			column-count: 3;
		}
	}

	li[data-sitemap-level='1'] {
		@extend %item;
		break-inside: avoid-column;
		display: inline-block; // 💉 for columns item technic
		margin: 0 0 1em;
		width: 100%; // 💉 for columns item technic

		@media (--xs-lte) {
			margin: 0;
		}

		a {
			@media (--xs-lte) {
				border-bottom: 2px solid $secondary-color-lighter2;
				margin: 0;

				::before {
					display: none;
					margin: 0;
				}
			}
		}
	}

	ul[data-sitemap-level='2'] {
		@extend %list;
		padding: 0 0 0 1em;

		@media (--xs-lte) {
			padding: 0;
		}
	}

	li[data-sitemap-level='2'] {
		@extend %item;
		margin: 0 0 0.5em;

		@media (--xs-lte) {
			margin: 0;
		}

		a {
			@media (--xs-lte) {
				border-bottom: 1px solid $secondary-color-darker;
				background: $secondary-color-lighter3;
				padding: 15px $page-viewport-side-margin-xs;
				color: $font-primary-color;
			}

			&::before {
				background: $primary-color-lighter;

				@media (--xs-lte) {
					display: none;
					margin: 0;
				}
			}
		}
	}

	ul[data-sitemap-level='3'] {
		@extend %list;
		padding: 0 0 0 1em;

		@media (--xs-lte) {
			padding: 0;
		}
	}

	li[data-sitemap-level='3'] {
		@extend %item;

		a {
			@media (--xs-lte) {
				background: $secondary-color-lighter4;
				padding: 10px $page-viewport-side-margin-xs;
				color: $font-primary-color;
			}

			&::before {
				border: 1px solid $secondary-color-lighter2;
				background: $secondary-color-lighter2;

				@media (--xs-lte) {
					display: none;
					margin: 0;
				}
			}
		}
	}
}
