.c-nav-global {
	background-color: $secondary-color-darker;
	border-bottom: 1px solid $border-primary-color;
	margin-bottom: 20px;
	position: relative;

	&__body {
		@include flexible-width-body;
		margin: 0 auto;

		@media (--md-lte) {
			padding: 0;
		}
	}

	&__list {
		align-items: stretch;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		margin: 0;
		padding: 0;

		@media (--md-lte) {
			flex-wrap: wrap;
		}

		@media (--md-lte) {
			display: block;
		}
	}

	&__item {
		display: block;
		flex: 1 1 auto;

		> a {
			background-color: $secondary-color-darker;
			color: $lightest-color;
			display: block;
			text-align: center;
			text-decoration: none;

			@media (--md-lte) {
				border-bottom: 1px solid $secondary-color-lighter2;
			}

			&:hover {
				background-color: $secondary-color;
			}

			> span {
				border-left: 1px solid $secondary-color-lighter2;
				display: block;
				padding: 15px 25px;

				@media (--md-lte) {
					border-left: none;
				}
			}
		}

		&:first-child {
			> a {
				> span {
					border: none;
				}
			}
		}

		&:last-child {
			> a {
				@media (--md-lte) {
					border: none;
				}
			}
		}
	}

	&__sub-nav {
		position: absolute;
		left: 0;
		width: 100%;
		background: $secondary-color;

		@media (--md-lte) {
			position: static;
		}

		> ul {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-around;

			@media (--md-lte) {
				display: block;
				padding: 0;
			}

			> li {
				list-style: none;

				@media (--md-lte) {
					border-bottom: 1px solid $border-primary-color;
				}

				> a {
					color: $lightest-color;
					text-decoration: none;
					padding: 15px;
					width: 100%;
					display: block;

					@media (--md-lte) {
						text-align: center;
						padding: 10px 4%;
					}

					&:hover {
						opacity: 0.7;
					}
				}
			}
		}
	}
}
