.bg-gray-zansai {
	background: $gray-color;
	padding: 15px 30px;

	@media screen and (max-width: 36.25em) {
		padding: 25px 20px;
	}

	.item {
		@media screen and (max-width: 36.25em) {
			margin-bottom: 0;
		}

		&::before {
			background: url('/common-assets/img/icon_pdf.png') left top no-repeat;
			background-size: 16px auto;
		}
	}
}

.zansai-contact {
	font-size: 14px;
	font-weight: bold;

	@media screen and (max-width: 36.25em) {
		display: flex;
	}

	span {
		@media screen and (max-width: 36.25em) {
			//
		}
	}
}


// タブ
.overflow-initial {
	overflow: initial;
}

.tab-block {
	.tab-btn {
		> ul {
			position: relative;
			display: flex;
			justify-content: center;
			background: $gray-color;
			list-style-type: none;
			margin: 0 auto 8px;

			@media screen and (max-width: 36.25em) {
				width: calc(100% + 30px);
				margin-left: -15px;
			}

			&::after {
				content: '';
				position: absolute;
				display: block;
				background: $gray-color03;
				width: 100%;
				height: 1px;
				left: 0;
				bottom: 0;
				z-index: 1;
			}

			> li {
				box-sizing: border-box;
				border: 1px solid $gray-color03;
				border-bottom: none;

				@media screen and (min-width: 36.25em) {
					min-width: 400px;
				}

				@media screen and (max-width: 60em) {
					width: 100%;
					min-width: auto;
				}

				@media screen and (max-width: 36.25em) {
					width: 50%;
				}

				&:not(:first-child) {
					border-left: none;
				}

				&[data-current='true'] {
					a {
						span {
							color: $primary-color;

							&::before {
								background: $primary-color;
							}

							&::after {
								background: url('/credit/zansai/img/zansai-arrow-02.jpg');
								background-size: 100% auto;
							}
						}
					}
				}

				> a {
					text-decoration: none;

					> span {
						position: relative;
						display: block;
						text-align: center;
						letter-spacing: 1.5px;
						background: $lightest-color;
						font-size: 18px;
						font-weight: bold;
						color: $gray-color05;
						padding: 10px;
						cursor: pointer;

						@media screen and (max-width: 60em) {
							letter-spacing: 1px;
							font-size: 16px;
						}

						@media screen and (max-width: 36.25em) {
							letter-spacing: 0;
							font-size: 16px;
						}

						&::before {
							content: '';
							position: absolute;
							display: block;
							background: $gray-color04;
							width: 100%;
							height: 4px;
							left: 0;
							bottom: 0;
							z-index: 2;
						}

						&::after {
							content: '';
							position: absolute;
							display: block;
							background: url('/credit/zansai/img/zansai-arrow-03.jpg');
							background-size: 100% auto;
							width: 12px;
							height: 8px;
							margin: 0 auto;
							left: 0;
							right: 0;
							bottom: -8px;
							z-index: 2;
						}
					}
				}
			}
		}
	}

	.tab-detail {
		margin-top: 60px;

		@media screen and (max-width: 36.25em) {
			margin-top: 25px;
		}

		> ul {
			> li {
				display: none;
				box-sizing: border-box;
				text-align: left;

				&[data-show='true'] {
					display: block;
				}

				h4.head--03 {
					position: relative;
					letter-spacing: 1px;
					font-size: 18px;
					padding-left: 25px;

					@media screen and (max-width: 36.25em) {
						font-size: 16px;
					}

					&::before {
						content: '';
						position: absolute;
						display: block;
						background: $gray-color05;
						width: 10px;
						height: 10px;
						left: 0;
						top: 5px;
					}
				}
			}
		}
	}
}

.tab-ol {
	list-style-type: none;
	max-width: 900px;
	margin: 0 auto;

	@media screen and (max-width: 36.25em) {
		width: 100%;
	}

	> li {
		position: relative;
		border: 1px solid $gray-color02;
		padding: 30px;

		@media screen and (max-width: 36.25em) {
			padding: 20px 15px;
		}

		&:not(:first-child) {
			margin-top:  35px;

			@media screen and (max-width: 36.25em) {
				margin-top: 22px;
			}

			&::before {
				content: '';
				position: absolute;
				display: block;
				background: url('/credit/zansai/img/zansai-arrow-01.jpg');
				background-size: 100% auto;
				width: 22px;
				height: 14px;
				margin: 0 auto;
				left: 0;
				right: 0;
				top: -24px;

				@media screen and (max-width: 36.25em) {
					width: 13px;
					height: 8px;
					top: -15px;
				}
			}
		}

		&:nth-child(1) {
			h5 {
				&::before {
					background: url('/credit/zansai/img/zansai-step_01.jpg');
					background-size: 100% auto;

					@media screen and (max-width: 36.25em) {
						background: url('/credit/zansai/img/zansai-step-sp_01.jpg');
						background-size: 100% auto;
					}
				}
			}
		}

		&:nth-child(2) {
			h5 {
				&::before {
					background: url('/credit/zansai/img/zansai-step_02.jpg');
					background-size: 100% auto;

					@media screen and (max-width: 36.25em) {
						background: url('/credit/zansai/img/zansai-step-sp_02.jpg');
						background-size: 100% auto;
					}
				}
			}
		}

		&:nth-child(3) {
			h5 {
				&::before {
					background: url('/credit/zansai/img/zansai-step_03.jpg');
					background-size: 100% auto;

					@media screen and (max-width: 36.25em) {
						background: url('/credit/zansai/img/zansai-step-sp_03.jpg');
						background-size: 100% auto;
					}
				}
			}
		}

		&:nth-child(4) {
			h5 {
				&::before {
					background: url('/credit/zansai/img/zansai-step_04.jpg');
					background-size: 100% auto;

					@media screen and (max-width: 36.25em) {
						background: url('/credit/zansai/img/zansai-step-sp_04.jpg');
						background-size: 100% auto;
					}
				}
			}
		}

		h5 {
			position: relative;
			line-height: 1.4;
			font-size: 16px;
			font-weight: bold;
			color: $primary-color;
			padding: 6px 0 6px 100px;

			@media screen and (max-width: 36.25em) {
				font-size: 15px;
				padding: 0 0 0 70px;
			}

			&::before {
				content: '';
				position: absolute;
				display: block;
				width: 80px;
				height: 30px;
				left: 0;
				top: 0;

				@media screen and (max-width: 36.25em) {
					width: 60px;
					height: 20px;
				}
			}
		}
	}

	.column--02.two-to-one {
		align-items: flex-start;

		.column__inner {
			&:nth-of-type(odd) {
				@media screen and (min-width: 36.25em) {
					width: calc(100% - 330px);
				}
			}

			&:nth-of-type(even) {
				@media screen and (min-width: 36.25em) {
					width: 315px;
				}
			}
		}
	}
}

.contact-documentbox {
	border: 1px solid $gray-color02;
	padding-bottom: 30px;
	margin-top: 50px;

	@media screen and (max-width: 36.25em) {
		margin-top: 25px;
	}

	h3 {
		position: relative;
		letter-spacing: 1px;
		font-size: 18px;
		font-weight: bold;
		background: $gray-color;
		padding: 18px 30px 18px 60px;

		&::before {
			content: '';
			position: absolute;
			display: block;
			background: $primary-color;
			width: 20px;
			height: 4px;
			top: 26px;
			left: 30px;
		}
	}

	p {
		padding: 0 30px;
	}
}