.c-pagination {
	clear: both;
	display: flex;
	font-size: 1.8rem;
	justify-content: center;
	line-height: 4rem;
	margin: 20px 0 0;
	overflow: hidden;
	text-align: center;

	@media (--xs) {
		justify-content: space-between;
	}

	a {
		background: none;
		color: currentColor;
		text-decoration: none;
		font-size: calc(16 / 18 * 1em);
	}

	&__prev,
	&__next {
		a {
			border: 1px solid $border-primary-color;
			display: inline-block;
			vertical-align: middle;
			overflow: hidden;
			padding: 0 10px;
			position: relative;

			&[data-disabled='true'] {
				opacity: 0.3;
				pointer-events: none;
			}
		}
	}

	&__prev {
		order: 1;

		::before {
			content: '<';
			font-size: calc(14 / 18 * 1em);
			display: inline-block;
			vertical-align: middle;
			color: $font-primary-color;
			padding-right: 5px;
		}
	}

	&__next {
		order: 3;

		::after {
			content: '＞';
			font-size: calc(14 / 18 * 1em);
			display: inline-block;
			vertical-align: middle;
			color: $font-primary-color;
			padding-left: 5px;
		}
	}

	&__numbers {
		display: flex;
		font-weight: bold;
		list-style: none;
		margin: 0 30px;
		order: 2;
		padding: 0;

		@media (--xs) {
			display: none;
		}
	}

	&__number {
		display: block;
		list-style: none;
		margin: 0 0.5em;

		&:hover {
			padding-bottom: 2px;
			border-bottom: 2px solid $primary-color;
		}

		// 🐲 baserCMSの仕様上 マルチクラスでしかカレントを定義できない
		// stylelint-disable selector-class-pattern
		&--current {
			border-bottom: 2px solid $primary-color;

			&:hover {
				padding-bottom: 0;
			}
		}
		// stylelint-enable selector-class-pattern

		a {
			display: block;
			padding: 0 0.3em;
			text-align: center;

			&::after {
				display: none;
			}
		}
	}
}
