.c-page-home {
	width: 100%;
	height: 100%;

	&__base {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto 1fr auto auto;
		grid-template-areas:
			'header'
			'nav-global'
			'main'
			'nav-sitemap'
			'footer';
	}

	&__header {
		grid-area: header;
	}

	&__nav-global {
		grid-area: nav-global;
	}

	&__main {
		grid-area: main;
	}

	&__nav-sitemap {
		grid-area: nav-sitemap;
	}

	&__footer {
		grid-area: footer;
	}
}
