// # 全般
// ========== ========== ========== ========== ==========
//
// サイトで最も明るい色
$lightest-color: #fff;
// サイトで最も暗い色
$darkest-color: #333;
// メインカラー
$primary-color: #c3002f;
$primary-color-lighter: lighten($primary-color, 30%);
$primary-color-darker: darken($primary-color, 30%);
// サブカラー
$secondary-color: #969171;
$secondary-color-lighter: lighten($secondary-color, 30%);
$secondary-color-lighter2: lighten($secondary-color, 50%);
// $secondary-color-lighter3: #baa98f;
$secondary-color-darker: darken($secondary-color, 30%);
$secondary-color-darker2: darken($secondary-color, 50%);
// アクセントカラー
$accent-color: #f07100;
// グレイカラー
$gray-color: #f6f6f6;
$gray-color02: #ebebeb;
$gray-color03: #dcdcdc;
$gray-color04: #eee;
$gray-color05: #333;
// $gray-color02: #efefef;
// 警告カラー
// $warning-color: #ad1313;

// # タイポグラフィ
// ========== ========== ========== ========== ==========
//
// 標準のテキストの色
$font-primary-color: $darkest-color;
// 選択時の背景色（ブラウザデフォルト: #B3D4FF）
$selection-background-color: $primary-color-lighter;

// # ボックスモデル
// ========== ========== ========== ========== ==========
//
// 標準の境界線の色
$border-primary-color: #d2cdcd;

// # フォーム
// ========== ========== ========== ========== ==========
//
// フォーム要素フォーカス時のグローカラー
$btn-glow-color: #0570c7;
